@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
:root {
    --primary-color:#5eead4;
}
body{
    font-family: 'Oswald', sans-serif;
}
hr{
    margin: 3rem 0rem;
}
/** container**/
.container{
    padding-left: 1rem;
    padding-right: 1rem;
}
.container-centered{
    max-width: 600px;
margin:auto;
}
/**link**/
.link{
    text-decoration: none;
    padding: .5rem 1rem;

}
.link-primary{
    background-color:var(--primary-color);
    border-radius: .5rem;
    color: white;
}
.link-secondary{
    color: var(--primary-color);
    border-radius: .5rem;
    border: 1px solid var(--primary-color);
}
/** look into bem naming convention for css**/
